@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 214 20% 13%;
    --foreground: 210 40% 98%;
    --card: 214 20% 13%;
    --card-foreground: 210 40% 98%;
    --popover: 214 20% 13%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 100% 65%;
    --primary-foreground: 210 40% 9.8%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 180 80% 46%;
    --accent-foreground: 210 40% 9.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 207 100% 65%;
    --chart-1: 207 100% 65%;
    --chart-2: 180 80% 46%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 214 20% 13%;
    --foreground: 210 40% 98%;
    --card: 214 20% 13%;
    --card-foreground: 210 40% 98%;
    --popover: 214 20% 13%;
    --popover-foreground: 210 40% 98%;
    --primary: 207 100% 65%;
    --primary-foreground: 210 40% 9.8%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 180 80% 46%;
    --accent-foreground: 210 40% 9.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 207 100% 65%;
    --chart-1: 207 100% 65%;
    --chart-2: 180 80% 46%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
